/* || General setup */

:root {
  color-scheme: light dark; /* both supported */
  --text: #0d1117;
  --bg: #f3eeea;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f3eeea;
    --bg: #0d1117;
  }
}

html, body, th {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: var(--bg);
  color: var(--text);

}

body {
  width: 90%;
  margin: 0 auto;
  
}

/* || typography */

h1, h2, h3 {
  color: var(--text);
}

p, input, li, span, th {
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: left;
}

h3 {
  font-size: 2.2rem;
}

p, li, span, th {
  font-size: 1.6rem;
  line-height: 1.5;
}

thead {
  font-size: 1.6rem;
  line-height: 1.5;
}

th {
  font-size: 1.6rem;
  line-height: 1.5;
}

td {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout 

nav, article, aside, footer {
  padding: 1%;
}

nav {
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}*/

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

/* || main layout
aside {
  flex: 1;
  margin-left: 5px;
}

aside li {
  padding-bottom: 1em;
}*/

footer {
  text-align: center;
}
a:link {
  color: #2e77f8;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #2e77f8;
  background-color: transparent;
  text-decoration: none;
}

table.center {
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-piece {
  position: fixed;
  top: 1101px;                         /* 1 */
  bottom: 50%;
  left: 90%;
  transform: translate(-50%,50%);    /* 2 */
}
.center-piece2 {
  background-color: steelblue;
  bottom: 50%;
  left: 80%;
  transform: translate(-50%,50%);    /* 2 */
}